{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminastrador</title>
    <script src="{% static 'assetsAdmin/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assetsAdmin/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assetsAdmin/js/pcoded.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assetsAdmin/css/style.css' %}">
    <link rel="icon" href="{% static 'img/cafe.png' %}" type="image/x-icon"/>
</head>

<body>
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>

<header xmlns="http://www.w3.org/1999/xhtml" class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="">
            <img src="{% static 'assetsAdmin/images/cafe.png' %}" width="40px" height="40px" alt="" class="logo"/>
            <img src="{% static 'assetsAdmin/images/cafe.png' %}" alt="" class="logo-thumb"/>
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn btn-outline-secondary"
                        onclick="this.parentElement.style.display='none';">X
                </button>
            </div>
        {% endfor %}
    {% endif %}
</header>
<nav class="pcoded-navbar  ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <div class="">
                <div class="main-menu-header">
                    <img class="img-radius" src="{% static 'assetsAdmin/images/user/avatar-2.jpg' %}"
                         alt="User-Profile-Image"/>
                    <div class="user-details">
                        <span>{{ name }}</span>
                        <div id="more-details">Administrador</div>
                    </div>
                </div>
            </div>
            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navegación</label>
                </li>
                <li class="nav-item">
                    <a href="../administrador/index.xhtml" class="nav-link "><span
                            class="pcoded-micon"><i
                            class="feather icon-list"></i></span><span
                            class="">Inicio</span>
                    </a>
                    <a href="{% url 'register_product' %}" class="nav-link "><span
                            class="pcoded-micon"><i
                            class="feather icon-list"></i></span><span
                            class="">Registrar y Listar  Producto</span>
                    </a>
                    <a href="{% url 'user_list' %}" class="nav-link "><span
                            class="pcoded-micon"><i
                            class="feather icon-list"></i></span><span
                            class="pcoded-mtext">Listar y Eliminar Usuarios</span></a>

                    <a href="{% url 'logout' %}" class="nav-link "><span
                            class="pcoded-micon"><i
                            class="feather icon-list"></i></span><span
                            class="pcoded-mtext">Salir</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Django -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body">
                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-c-blue order-card">
                                        <div class="card-block">
                                            <h6 class="m-b-20">Total de Clientes</h6>
                                            <h2>{{ count }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-c-green order-card">
                                        <div class="card-block">
                                            <h6 class="m-b-20">Total de Productos</h6>
                                            <h2>{{ count_product }}</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-c-yellow order-card">
                                        <div class="card-block">
                                            <h6 class="m-b-20">Total de Ventas</h6>
                                            <h2>-----</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div class="card bg-c-pink order-card">
                                        <div class="card-block">
                                            <h6 class="m-b-20">Total de Compras</h6>
                                            <h2>-----</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Gráfico de Ventas</h5>
                                            <span>Gráfico de ventas por mes</span>
                                        </div>
                                        <div class="card-block">
                                            <div id="chart-container">
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Gráfico de Compras</h5>
                                            <span>Gráfico de compras por mes</span>
                                        </div>
                                        <div class="card-block">
                                            <div id="chart-container">
                                                <canvas id="myChart2"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Últimas Ventas</h5>
                                            <span>Últimas ventas realizadas</span>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Cliente</th>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>2018-01-01</td>
                                                        <td>Cliente 1</td>
                                                        <td>Producto 1</td>
                                                        <td>1</td>
                                                        <td>100</td>
                                                        <td>100</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Últimas Compras</h5>
                                            <span>Últimas compras realizadas</span>
                                        </div>
                                        <div class="card-block">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>Fecha</th>
                                                        <th>Proveedor</th>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>2018-01-01</td>
                                                        <td>Proveedor 1</td>
                                                        <td>Producto 1</td>
                                                        <td>1</td>
                                                        <td>100</td>
                                                        <td>100</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2018-01-01</td>
                                                        <td>Proveedor 1</td>
                                                        <td>Producto 1</td>
                                                        <td>1</td>
                                                        <td>100</td>
                                                        <td>100</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assetsAdmin/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assetsAdmin/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assetsAdmin/js/pages/dashboard-main.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>