{% load static %}
{% load humanize %}
{{ my_num|intcomma }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Catálogo</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'assets_index/images/favicon.png' %}">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- mean menu css -->
    {#    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">#}
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- responsive -->
    <link rel="stylesheet" href="{% static '/css/responsive.css' %}">
    <style>
        .container {
            width: 100%;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            display: inline-block;
        }

        .single-product-item {
            margin-bottom: 30px;
            position: relative;
            overflow: hidden;
            border: 1px solid #b1afaf;
            border-radius: 5px;
            width: 375px;
            height: 450px;
            margin-left: 10px;
            margin-right: 10px;
            box-shadow: 0 0 10px rgba(154, 147, 147, 0.5);

        }

        .select-quantity {
            padding: 5px 10px;
            border-left: none;
            height: 40px;
            text-align: center;
            font-size: 16px;
            color: #f0ecec;
            font-weight: 600;
            cursor: pointer;
            background: #af9062;
        }

        .select-quantity:hover {
            background: #705e51;

        }

        .paginacion {
            margin: 20px 0;
        }

        .paginacion ul {
            list-style: none;
            text-align: center;
        }

        .paginacion ul li {
            display: inline-block;
            margin-right: 10px;
        }

        .paginacion ul li a {
            display: block;
            padding: 10px 20px;
            color: #fff;
            background: #024959;
            text-decoration: none;
        }

        .paginacion ul li a:hover {
            background: #037E8C;
        }

        .paginacion ul li .active {
            background: #037E8C;
            font-weight: bold;
        }
    </style>

</head>
<body>

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'img/cafe.png' %}" alt=""
                                 width="100px"
                            >
                        </a>
                    </div>
                    <!-- logo -->
                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="{% url 'home' %}">Casa</a></li>
                            <li><a href="{% url 'conocenos' %}">Conócenos</a></li>
                            <li><a href="{% url 'list_product' %}">Catálogo</a></li>
                            <li class=""><a href="{% url 'ayuda' %}">Ayuda</a></li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="{% url 'product_cart' %}"><i
                                            class="fas fa-shopping-cart"></i></a>

                                    <a class="mobile-hide search-bar-icon" href="{% url 'filter_product' %}"><i
                                            class="fas fa-search"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
<!-- search area -->




























<!-- end search area -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>100% Natural</p>
                    <h1>Catálogo De Productos</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
{% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            <p>{{ message }}</p>
            <script>
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 2500);
            </script>
        {% endfor %}
    </div>
{% endif %}
<div class="container">
</div>

<div class="row product-lists">
    {% for product in products %}
        <div class="col-lg-4 col-md-6 text-center strawberry">
            <div class="col-lg-4">
                <div class="single-product-item">
                    <div class="product-imag">
                        <h2> {{ product.name }}</h2>
                    </div>
                    <div class="product-imag">
                        <img src="{{ product.picture }}" alt="Product Image">
                    </div>
                    <br>
                    <div class="product-text">
                        <h6>{{ product.presentation }}</h6>
                    </div>

                    <div class="product-price">
                        <h3><span>COP.  </span>{{ product.price |floatformat:2 }}</h3>
                    </div>
                    <div class="product-action">
                        <a href="{% url 'add_product' product.id %}" class="cart-btn">
                            <i class="fas fa-shopping-cart"></i>
                            Agregar Al Carrito
                        </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!--paginacion-->
<section class="paginacion">
    <ul>
        <li><a href="{% url 'list_product' %}" class="active">1</a></li>
        <li><a href="{% url 'list_product' %}?page=2">2</a></li>
        <li><a href="{% url 'list_product' %}?page=3">3</a></li>
        <li><a href="{% url 'list_product' %}?page=4">4</a></li>
        <li><a href="{% url 'list_product' %}?page=5">5</a></li>
        <li><a href="{% url 'list_product' %}?page=6">6</a></li>
        <li><a href="{% url 'list_product' %}?page=7">7</a></li>
        <li><a href="{% url 'list_product' %}?page=8">8</a></li>
        <li><a href="{% url 'list_product' %}?page=9">9</a></li>
        <li><a href="{% url 'list_product' %}?page=10">10</a></li>
    </ul>
</section>

<!-- end products -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="https://www.baque.com/wp-content/uploads/2017/12/historia-del-cafe.jpg" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="https://cafeselcriollo.com/wp-content/uploads/2022/01/beneficios-del-cafe-en-grano_.jpg"
                             alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="https://www.procomer.com/wp-content/uploads/Alertas-comerciales-cafe-en-grano-1.jpg"
                             alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="https://www.caracteristicas.co/wp-content/uploads/2018/09/cafe-2-e1578772193199.jpg"
                             alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="https://pbs.twimg.com/media/E6_YcB8XEAg0YyJ.jpg:large" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Nosotros</h2>
                    <p>Somos una Empresa destinada a la debida transformación, producción y venta del cafe 100%
                        natural</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Contactanos</h2>
                    <ul>
                        <li>
                            <a href="https://www.google.com.co/maps/place/Cra.+102+%2370-76,+Engativ%C3%A1,+Bogot%C3%A1/@4.70284,-74.1218949,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3f9b5421b55267:0x9ed4c9e3aa794e6b!8m2!3d4.70284!4d-74.1197062?hl=es"
                               target="_blank">Carrera 102#70-76</a>
                        </li>
                        <li>developersdrj@gmail.com</li>
                        <li>+57 3184760156</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Información</h2>
                    <ul>
                        <li><a href="../index.xhtml">Casa</a></li>
                        <li><a href="../catalogo/index.xhtml">Tienda</a></li>
                        <li><a href="../conocenos/index.xhtml">Conocenos</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Slogan</h2>
                    <p>La verdarera felicidad en una taza de café.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights; 2022 - Juan David Cantillo , Nos reservamos los
                    derechos</p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<!-- sticker js -->
<script src="{% static 'js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>