{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro y Listado De Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
<!--navbar-->
<nav class="navbar navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Productos - Tostadora De Cafe San Jorge</a>
    <ul class="navbar-nav">
    </ul>

</nav>
{% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
            <script>
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 2500);
            </script>
        {% endfor %}
    </div>
{% endif %}

<!--form-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Productos </h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Presentación</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for producto in products %}
                    <tr>
                        <td>{{ producto.name }}</td>
                        <td><img src="{{ producto.picture }}" alt="imagen-register"
                                 width="100">
                        </td>
                        <td>{{ producto.presentation }}</td>
                        <td>{{ producto.stock }}</td>
                        <td> $ {{ producto.price }}</td>
                        <td>
                            <a href="{% url 'edit_product' producto.id %}" class="btn btn-warning"><i
                                    class="fas fa-edit"></i></a>

                            <a href="{% url 'delete_product' producto.id %}" class="btn btn-danger"><i
                                    class="fas fa-trash-alt"
                                    onclick=
                                            "Swal.fire({
                                                title: 'Eliminada correctamente',
                                                text: 'El Producto ha sido eliminada correctamente',
                                                type: 'success',
                                                confirmButtonText: 'Aceptar',
                                                timer : 3000
                                                })">
                                Eliminar
                                >
                            </i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Registrar Producto
            </button>
            <div class="btn-group" role="group" aria-label="Basic example" style="float: right">
                <a href="{% url 'home' %}" class="btn btn-outline-warning" left;>Casa</a>
                &nbsp;
                <a href="{% url 'admin' %}" class="btn btn-outline-success">Administrador</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal para registrar producto -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro De Productos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register_product' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group ">
                        <select class="form-control" id="name" name="name">
                            <label for="name">Nombre Del Producto</label>
                            <option value="Café Molido">Café Molido</option>
                            <option value="Café Tostado">Café Tostado</option>
                            <option value="Café Verde">Café Verde</option>
                            <option value="Café en Grano">Café en Grano</option>
                            <option value="Café Especial">Café en Especial</option>
                            <option value="Café Orgánico">Café Orgánico</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="presentation">Presentacion</label>
                        <select class="form-control" id="presentation" name="presentation">
                            <option value="10 Kg">10 kg</option>
                            <option value="20 Kg">20 kg</option>
                            <option value="30 Kg">30 kg</option>
                            <option value="40 Kg">40 kg</option>
                            <option value="50 Kg">50 kg</option>
                            <option value="60 Kg">60 kg</option>
                            <option value="70 Kg">70 kg</option>
                            <option value="80 Kg">80 kg</option>
                            <option value="90 Kg">90 kg</option>
                            <option value="100 Kg">100 kg</option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="picture">Imagen/url</label>
                        <select class="form-control" id="picture" name="picture">
                            <option value="https://cursosbaristacafe.com.mx/wp-content/uploads/2020/10/cafe-molido-medio.jpg">
                                Café Molido
                            </option>
                            <option value="https://t2.uc.ltmcdn.com/es/posts/6/0/9/como_tostar_cafe_49906_orig.jpg">
                                Café Tostado
                            </option>
                            <option value="https://mejorconsalud.as.com/fitness/wp-content/uploads/2020/05/granos-cafe-verde-taza.jpg">
                                Café Verde
                            </option>
                            <option value="https://www.bienestarcolsanitas.com/images/2-SECCIONES/ALIMENTACION/RECOMENDACIONES/CAFE/CAFE5.jpg">
                                Café Especial
                            </option>
                            <option value="https://crehana-blog.imgix.net/media/filer_public/f6/d7/f6d7d6a1-1560-4bbb-b9cb-e736d78d3f84/granos-cafe-java.jpg?auto=format&q=50">
                                Café En Grano
                            </option>
                            <option value="https://webantigua.cafesguilis.com/wp-content/uploads/2020/04/bigstock-Fresh-Raw-Organic-Coffee-Beans-319888912.jpg">
                                Café Orgánico
                        </select>
                    </div>
                    <div class="form-group ">
                        <label for="stock">Stock</label>
                        <input type="text" class="form-control" id="stock" name="stock">
                    </div>
                    <button type="submit" class="btn btn-success">Registrar</button>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>





